/binary/
/cache/
/bento-openbox-amd64/
/bento-openbox-i386/
/bento.log
/chroot/
/chroot.files
/chroot.packages.install
/chroot.packages.live
/.build/
/.lock
/config/chroot
/config/binary
/config/bootstrap
/config/build
/config/common
/config/source
/config/hooks/normal/10*
/config/hooks/normal/50*
/config/hooks/normal/80*
/config/hooks/normal/81*
/config/hooks/normal/90*
/config/hooks/live/
/config/includes.chroot/usr/local/bin/openbox-menu
/config/package-lists/live.list.chroot
